<a href="https://colab.research.google.com/github/susanjax/Project_Genetic_Algorithm/blob/main/descriptor_addition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
original_data = pd.read_csv('/content/combined_with_external_data_purified.csv')
descriptor = pd.read_csv('/content/drive/MyDrive/toxicity_project/data/material_descriptors.csv')

In [ ]:
# original_data= original_data.drop(['Unnamed: 0'], axis=1)
original_data=original_data.drop(['index'], axis=1)
original_data

,Cell type,test,material,time (hr),concentration (ug/ml),viability (%),Hydrodynamic diameter (nm),Zeta potential (mV),mcd,electronegativity,rox,radii,source
0,143B,MTT,Au,4,200.0,36.126,50.00,-4.65,0.000000,2.540000,1.692,1.35,original
1,143B,MTT,Au,4,400.0,22.253,50.00,-33.33,0.000000,2.540000,1.692,1.35,original
2,143B,MTT,Au,4,500.0,19.643,50.00,-31.30,0.000000,2.540000,1.692,1.35,original
3,143B,MTT,Au,72,1.0,91.262,189.25,-16.95,0.000000,2.540000,1.692,1.35,original
4,143B,MTT,Au,72,3.0,87.500,444.90,29.45,0.000000,2.540000,1.692,1.35,original
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,WISH,NRU,TiO2,48,50.0,71.594,9.00,-20.51,5.369128,2.806667,-0.930,1.40,original
3237,WISH,NRU,TiO2,48,100.0,62.029,9.00,-20.51,5.369128,2.806667,-0.930,1.40,original
3238,WISH,NRU,TiO2,6,0.1,83.538,28.33,49.26,5.369128,2.806667,-0.930,1.40,original
3239,WISH,NRU,TiO2,6,1.0,90.462,28.33,49.26,5.369128,2.806667,-0.930,1.40,original
3240,WISH,NRU,TiO2,6,10.0,85.385,28.33,49.26,5.369128,2.806667,-0.930,1.40,original

In [ ]:
descriptor = descriptor.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [ ]:
descriptor

,material,CID,Canonical_smiles,Valance_electron,amw,lipinskiHBA,lipinskiHBD,NumRotatableBonds,NumHBD,NumHBA,...,chi0n,chi1n,chi2n,chi3n,chi4n,hallKierAlpha,kappa1,kappa2,kappa3,Phi
0,SiO2,24261,O=[Si]=O,16,60.084,2.0,0.0,0.0,0.0,2.0,...,1.316497,0.408248,0.000000,0.000000,0.000000,-0.183117,2.816883,1.816883,1.816883,1.705982
1,Fe3O4,16211978,O=[Fe].O=[Fe]O[Fe]=O,48,231.531,4.0,0.0,2.0,0.0,4.0,...,2.693653,0.721688,0.041667,0.041667,0.008505,0.918442,10.820356,15.783243,19.649943,24.397187
2,Ag,23954,[Ag],11,107.868,0.0,0.0,0.0,0.0,0.0,...,0.301511,0.000000,0.000000,0.000000,0.000000,0.740260,1.740260,0.091137,2.143769,0.158602
3,TiO2,26042,O=[Ti]=O,16,79.865,2.0,0.0,0.0,0.0,2.0,...,1.316497,0.408248,0.000000,0.000000,0.000000,0.314286,3.314286,2.314286,2.314286,2.556735
4,Au,23985,[Au],11,196.967,0.0,0.0,0.0,0.0,0.0,...,0.301511,0.000000,0.000000,0.000000,0.000000,0.740260,1.740260,0.091137,2.143769,0.158602
5,ZnO,14806,O=[Zn],8,81.389,1.0,0.0,0.0,0.0,1.0,...,1.115355,0.288675,0.000000,0.000000,0.000000,0.423377,2.423377,1.423377,0.785340,1.724689
6,Pt,23939,[Pt],10,195.078,0.0,0.0,0.0,0.0,0.0,...,0.316228,0.000000,0.000000,0.000000,0.000000,0.688312,1.688312,0.141142,2.499632,0.238291
7,CuO,14829,O=[Cu],17,79.545,1.0,0.0,0.0,0.0,1.0,...,0.709760,0.123091,0.000000,0.000000,0.000000,0.319481,2.319481,1.319481,1.449562,1.530255
8,CeO2,73963,O=[Ce]=O,16,172.114,2.0,0.0,0.0,0.0,2.0,...,1.316497,0.408248,0.000000,0.000000,0.000000,0.976623,3.976623,2.976623,2.976623,3.945637
9,Co3O4,6432046,[O-2].[O-2].[O-2].[O-2].[Co+2].[Co+3].[Co+3],51,240.795,4.0,0.0,0.0,0.0,0.0,...,2.632993,0.000000,0.000000,0.000000,0.000000,1.359481,244.978309,161.043969,114.379074,5636.039883
10,C,5462310,[C],4,12.011,0.0,0.0,0.0,0.0,0.0,...,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,Ca(HCO3)2,10176262,C(=O)(O)[O-].C(=O)(O)[O-].[Ca+2],48,162.110,6.0,2.0,0.0,2.0,4.0,...,4.234527,1.263710,0.000000,0.000000,0.000000,-0.200260,15.915235,10.721306,6541.990841,18.959123
12,MgO,14792,O=[Mg],8,40.304,1.0,0.0,0.0,0.0,1.0,...,1.115355,0.288675,0.000000,0.000000,0.000000,0.566234,2.566234,1.566234,0.332289,2.009661
13,Ni,935,[Ni],10,58.693,0.0,0.0,0.0,0.0,0.0,...,0.316228,0.000000,0.000000,0.000000,0.000000,0.493506,1.493506,0.519822,4.598770,0.776358
14,Al2O3,9989226,[O-2].[O-2].[O-2].[Al+3].[Al+3],24,101.961,3.0,0.0,0.0,0.0,0.0,...,2.379445,0.000000,0.000000,0.000000,0.000000,0.944935,162.803737,86.185932,48.029505,2806.278357
15,ZrO2,62395,O=[Zr]=O,16,123.222,2.0,0.0,0.0,0.0,2.0,...,1.316497,0.408248,0.000000,0.000000,0.000000,0.483117,3.483117,2.483117,2.483117,2.882995
16,NiO,14805,O=[Ni],16,74.692,1.0,0.0,0.0,0.0,1.0,...,0.724476,0.129099,0.000000,0.000000,0.000000,0.293506,2.293506,1.293506,1.700586,1.483333
17,Cu,23978,[Cu],11,63.546,0.0,0.0,0.0,0.0,0.0,...,0.301511,0.000000,0.000000,0.000000,0.000000,0.519481,1.519481,0.444481,4.219481,0.675379
18,Bi2O3,14776,O=[Bi]O[Bi]=O,28,465.957,3.0,0.0,2.0,0.0,3.0,...,2.119172,0.730297,0.066667,0.066667,0.013608,1.326234,6.326234,5.326234,5.326234,6.739000
19,Fe2O3,4413471,CCC1(CC2=CC=CC=C2C3=C1C(=O)N=C(N3)SCC)C,110,300.427,3.0,1.0,3.0,1.0,3.0,...,12.694432,7.446361,4.431146,4.431146,3.148320,-1.550000,14.389899,5.335288,2.313965,3.655917
20,Mn2O3,14824,O=[Mn]O[Mn]=O,32,157.873,3.0,0.0,2.0,0.0,3.0,...,1.980674,0.617213,0.047619,0.047619,0.009720,0.598961,5.598961,4.598961,4.598961,5.149881
21,CoO,9942118,[O-2].[Co+2],15,74.932,1.0,0.0,0.0,0.0,0.0,...,0.741582,0.000000,0.000000,0.000000,0.000000,0.466494,24.375249,1.466494,0.610146,17.873072
22,Gd2O3,159427,[O-2].[O-2].[O-2].[Gd+3].[Gd+3],34,362.497,3.0,0.0,0.0,0.0,0.0,...,1.931852,0.000000,0.000000,0.000000,0.000000,2.529351,50.174081,31.203275,20.937451,313.119127
23,HfO2,292779,O=[Hf]=O,16,210.488,2.0,0.0,0.0,0.0,2.0,...,1.316497,0.408248,0.000000,0.000000,0.000000,0.470130,3.470130,2.470130,2.470130,2.857224
24,In2O3,510906,C1=C(C(=CN2C1=NC(=C2COCCCO)Cl)Cl)Cl,98,309.580,4.0,1.0,5.0,1.0,4.0,...,9.366910,5.332730,2.400448,2.400448,1.524354,-0.520000,13.901188,6.082754,2.895591,4.697639
25,La2O3,3280778,O=[La]O[La]=O,24,325.809,3.0,0.0,2.0,0.0,3.0,...,2.379445,0.942809,0.111111,0.111111,0.022680,1.949610,6.949610,5.949610,5.949610,8.269495
26,Sb2O3,27652,O=[Sb]O[Sb]=O,28,291.517,3.0,0.0,2.0,0.0,3.0,...,2.119172,0.730297,0.066667,0.066667,0.013608,1.196364,6.196364,5.196364,5.196364,6.439712

combine with material descriptor

In [ ]:
original_data['material'] = original_data['material'].replace(['CaHCO3'], 'Ca(HCO3)2')

In [ ]:
new_one = pd.merge(original_data, descriptor, on='material', how='inner')

In [ ]:
new_one

,Cell type,test,material,time (hr),concentration (ug/ml),viability (%),Hydrodynamic diameter (nm),Zeta potential (mV),mcd,electronegativity,...,chi0n,chi1n,chi2n,chi3n,chi4n,hallKierAlpha,kappa1,kappa2,kappa3,Phi
0,143B,MTT,Au,4,200.0,36.126,50.00,-4.65,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
1,143B,MTT,Au,4,400.0,22.253,50.00,-33.33,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
2,143B,MTT,Au,4,500.0,19.643,50.00,-31.30,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
3,143B,MTT,Au,72,1.0,91.262,189.25,-16.95,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
4,143B,MTT,Au,72,3.0,87.500,444.90,29.45,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,SIRC,MTT,CeO2,48,5.0,13.984,82.73,-31.90,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637
3237,SIRC,MTT,CeO2,3,5.0,99.752,10.00,-31.80,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637
3238,SIRC,MTT,CeO2,3,10.0,103.220,10.00,-31.80,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637
3239,SIRC,MTT,CeO2,3,25.0,99.257,10.00,-31.80,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637
3240,SIRC,MTT,CeO2,3,50.0,100.250,10.00,-31.80,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637

In [ ]:
new_one.isnull().sum().sum()

0

In [ ]:
new_one.to_csv('external_with_descriptors.csv')

combine with cell descriptor

In [ ]:
cell_info = pd.read_csv('/content/cell_type_descriptor.csv')
# cell_info = pd.read_csv('/content/drive/MyDrive/toxicity_project/data/other/cell_type_basic_descriptors.csv')
# data = pd.read_csv('/content/drive/MyDrive/toxicity_project/data/external_with_descriptors.csv')

In [ ]:
new =new_one.rename(columns={'Cell type':'cell line'})

In [ ]:

new

,cell line,test,material,time (hr),concentration (ug/ml),viability (%),Hydrodynamic diameter (nm),Zeta potential (mV),mcd,electronegativity,...,chi0n,chi1n,chi2n,chi3n,chi4n,hallKierAlpha,kappa1,kappa2,kappa3,Phi
0,143B,MTT,Au,4,200.0,36.126,50.00,-4.65,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
1,143B,MTT,Au,4,400.0,22.253,50.00,-33.33,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
2,143B,MTT,Au,4,500.0,19.643,50.00,-31.30,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
3,143B,MTT,Au,72,1.0,91.262,189.25,-16.95,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
4,143B,MTT,Au,72,3.0,87.500,444.90,29.45,0.000000,2.540000,...,0.301511,0.000000,0.0,0.0,0.0,0.740260,1.740260,0.091137,2.143769,0.158602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,SIRC,MTT,CeO2,48,5.0,13.984,82.73,-31.90,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637
3237,SIRC,MTT,CeO2,3,5.0,99.752,10.00,-31.80,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637
3238,SIRC,MTT,CeO2,3,10.0,103.220,10.00,-31.80,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637
3239,SIRC,MTT,CeO2,3,25.0,99.257,10.00,-31.80,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637
3240,SIRC,MTT,CeO2,3,50.0,100.250,10.00,-31.80,3.960396,2.666667,...,1.316497,0.408248,0.0,0.0,0.0,0.976623,3.976623,2.976623,2.976623,3.945637

In [ ]:
new.nunique()

cell line                            76
test                                 14
material                             19
time (hr)                            11
concentration (ug/ml)               126
viability (%)                      2726
Hydrodynamic diameter (nm)          239
Zeta potential (mV)                 419
mcd                                  14
electronegativity                    19
rox                                  18
radii                                10
source                                2
CID                                  19
Canonical_smiles                     19
Valance_electron                     10
amw                                  19
lipinskiHBA                           6
lipinskiHBD                           2
NumRotatableBonds                     2
NumHBD                                2
NumHBA                                5
NumHeavyAtoms                         6
NumAtoms                              6
NumHeteroatoms                        6
NumAmideBonds                         1
FractionCSP3                          1
NumRings                              1
NumAromaticRings                      1
NumAliphaticRings                     1
NumSaturatedRings                     1
NumHeterocycles                       1
NumAromaticHeterocycles               1
NumSaturatedHeterocycles              1
NumAliphaticHeterocycles              1
NumSpiroAtoms                         1
NumBridgeheadAtoms                    1
NumAtomStereoCenters                  1
NumUnspecifiedAtomStereoCenters       1
labuteASA                            18
tpsa                                  8
CrippenClogP                         12
CrippenMR                            11
chi0v                                19
chi1v                                12
chi2v                                 3
chi3v                                 3
chi4v                                 3
chi0n                                12
chi1n                                 8
chi2n                                 3
chi3n                                 3
chi4n                                 3
hallKierAlpha                        18
kappa1                               18
kappa2                               18
kappa3                               18
Phi                                  18
dtype: int64

In [ ]:
cell_info

,index,cell line,organism,cell type,morphology,tissue,disease,BSL
0,31.0,143B,Human,Human,mix,bone,osteosarcoma,1
1,36.0,16HBE,Human,Human,epithelial,respiratory tract,NaN,1
2,45.0,3T3-L1,mouse,Animal,fibroblast,embryo,Normal,1
3,48.0,95D,Human,Human,epithelial,lung,Carcinoma,1
4,33.0,A2780,Human,Human,epithelial,ovary,Adenocarcinoma,1
...,...,...,...,...,...,...,...,...
71,52.0,UM-UC-3,Human,Human,epithelial,urinary bladder,Normal,1
72,66.0,V79,hamster,Animal,fibroblast,lung,Normal,1
73,3.0,VERO,monkey,Animal,epithelial,kidney,Normal,1
74,26.0,WA09,Human,Human,stem,stem,Normal,1
75,62.0,WISH,Human,Human,epithelial,uterus,Adenocarcinoma,1

In [ ]:
cell = cell_info.drop(['index'], axis = 1)

In [ ]:
cell

,cell line,organism,cell type,morphology,tissue,disease,BSL
0,143B,Human,Human,mix,bone,osteosarcoma,1
1,16HBE,Human,Human,epithelial,respiratory tract,NaN,1
2,3T3-L1,mouse,Animal,fibroblast,embryo,Normal,1
3,95D,Human,Human,epithelial,lung,Carcinoma,1
4,A2780,Human,Human,epithelial,ovary,Adenocarcinoma,1
...,...,...,...,...,...,...,...
71,UM-UC-3,Human,Human,epithelial,urinary bladder,Normal,1
72,V79,hamster,Animal,fibroblast,lung,Normal,1
73,VERO,monkey,Animal,epithelial,kidney,Normal,1
74,WA09,Human,Human,stem,stem,Normal,1
75,WISH,Human,Human,epithelial,uterus,Adenocarcinoma,1

In [ ]:
combined = pd.merge(new, cell, on = 'cell line', how='inner')

In [ ]:
combined.nunique()

cell line                 76
test                      14
material                  19
time (hr)                 11
concentration (ug/ml)    126
                        ...
cell type                  2
morphology                14
tissue                    25
disease                   14
BSL                        2
Length: 64, dtype: int64

In [ ]:
combined.to_csv('combined_all_purified.csv')